*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  max-width: 1200px;
  width: 100%;
  margin: 20vh auto;

}

body{
  font-family: cursive;
  background:   rgba(24, 35, 189, 0.5);;
}